/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del encabezado */
.header {
    background-color: #333;
    height: 60px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos del logo */
.logo {
    width: 100px;
    height: 40px;
    margin: 10px;
    float: left;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Estilos de la barra de navegación */
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.menu-item {
    position: relative;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

.menu-item:hover a {
    background-color: #555;
}

/* Estilos de los menús desplegables */
.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.submenu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
}

.submenu li:hover a {
    background-color: #555;
}

/* Estilos para mostrar y ocultar los menús desplegables */
.dropdown:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.show .submenu {
    visibility: visible;
    opacity: 1;
}
